<h1>ここはジャンルの詳細ページです</h1>
<h2><%= @genre.genre_name %></h2>
<br>
<p><storong>紹介文</storong></p>
<%= @genre.opinion%>

<div class = "content clearfix">
	<% @genre.products.each do |product| %>
		<div class = "product">
			<p>
				<%= attachment_image_tag product, :image, :fill, 100, 100, fallback: "noimage.jpg"%>
			</p>
	  		<p>商品名：　<%= product.product_name %></p>
	  		<p>価格：　<%= product.price %></p>
	  		<p>歌手名：　<%= product.artist.artist_name %></p>
	  		<p>ジャンル：　<%= product.genre.genre_name %></p>
	  		<p>レーベル：　<%= product.label.label_name %></p>
	  		<p>在庫数：　<%= product.stock %>
	  			<% if product.stock <= 0 %>(売り切れ)<% end %>
	  		</p>
	  		<p><%= link_to "詳細をみる", product_path(product) %></p>
		</div>
	<% end %>
</div>