<h1>songの編集ページです</h1>
<ul class="receiver_error">
<% @song.errors.full_messages.each do |message| %>
    <li><%= message %></li>
<% end %>
</ul>
<%= form_for(@song,url: admin_product_disc_song_path(@song), html: {class:"admin-song-edit-form"}) do |f| %>
	<h4>歌の名前</h4>
	<%= f.text_field :song_name %>
	<h4>歌の番号</h4>
	<%= f.number_field :song_number %>
	<p><%= f.submit '商品を編集する', class:"ui positive button" %></p>
<% end %>