<h1>曲登録</h1>

<ul class="receiver_error">
	<% @song.errors.full_messages.each do |message| %>
    	<li><%= message %></li>
    <% end %>
</ul>
<%= form_for([@product, @disc, @song], url: admin_product_disc_songs_path) do |f| %>

	<p><%= f.label :song_name, "曲名" %></p>
	<%= f.text_field :song_name %>

	<p><%= f.label :song_number, "曲番号" %></p>
	<%= f.text_field :song_number %>

	<%= f.submit "登録" %>

<% end %>