    <div class="login_box">
      <div class="login_body">
        <section class="login_content clearfix">
        <h2>ログイン画面</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <div class="ui divider"></div>
                <%= alert %>
            <div class="ui divider"></div>

            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

<!--           <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label 'パスワードを記憶する' %>
            </div>
          <% end -%> -->

          <%= render "users/shared/links" %><br>

          <%= f.submit "ログイン", :class => "fluid positive ui button" %>
        <% end %>
        </section>
      </div>
    </div>