<h1>アーティスト新規登録</h1>
<ul class="receiver_error">
	<% @artist.errors.full_messages.each do |message| %>
    	<li><%= message %></li>
    <% end %>
</ul>
<%= form_for(@artist, url: admin_artists_path) do |f| %>

	<p><%= f.label :artist_image, "アーティスト画像" %></p>
	<%= f.attachment_field :artist_image %>

	<p><%= f.label :artist_name, "アーティスト名" %></p>
	<%= f.text_field :artist_name %>

	<p><%= f.label :opinion, "紹介文" %></p>
	<%= f.text_area :opinion %>

	<%= f.submit "登録" %>

<% end %>