<div class="admin-background">
	<div class="order-container">
		<div class="delivery-group">
			<h3>配達状況:
				<% if @order.carry_status == 1 || @order.carry_status == nil %>
				  商品準備中
				<% elsif @order.carry_status == 2 %>
				  配達中
				<% elsif @order.carry_status == 3 %>
				  配達済み
				<% end %>
			</h3>
			<%= notice %>

			<%= form_for(@order, url: admin_order_path) do |f| %>
				<%= f.select :carry_status, [["商品準備中", 1], ["配達中", 2], ["配達済み", 3]] %>
				<%= f.submit "変更" %>
			<% end %>
		</div>

		<div class="order-group clearfix">
			<table class="ui celled striped table order-table">
				<thead>
					<tr>
						<th>注文日：<%= @order.created_at.strftime('%Y/%m/%d') %></th>
						<th>商品名</th>
						<th>値段</th>
						<th>枚数</th>
					</tr>
				</thead>
				<% @order_products.each do |order_product| %>
					<tr>
						<td class="order_image"><%= attachment_image_tag order_product.product, :image, :fill, 100, 100, fallback: "noimage.png" %></td>
				  		<td><%= order_product.product.product_name %></td>
				  		<td><%= order_product.price %>円</td>
				  		<td><%= order_product.count %>枚</td>
					</tr>
				<% end %>
			</table>

			<div class="total-price-box">
				<h3 class="price">合計金額は<%= @price %>円です</h3>
			</div>
		</div>

		<div class="card_box">
			<div class="ui link cards" >
			  <div class="card">
				<h3>購入者</h3>
				<p>名前: <%= @order.user.first_name + @order.user.last_name%></p>
				<p>住所: <%= @order.user.adress %></p>
			  </div>
			</div>
		</div>

		<div class="card_box">
			<div class="ui link cards" >
			  <div class="card">
					<h3>お届け先</h3>
					<p>名前: <%= @order.receiver.receiver_name%></p>
					<p>住所: <%= @order.receiver.receiver_adress%></p>
				</div>
			</div>
		</div>
	</div>
</div>