<h1>購入履歴のページです</h1>

<table class="ui unstackable table">
	<% count = 0 %>
	<% @orders.each do |order| %>
  <thead>
    <tr>
      <th>購入日 （<%= order.created_at.strftime('%Y/%m/%d') %>）</th>
      <th>商品名</th>
      <th class="right aligned">値段</th>
      <th class="right aligned">枚数</th>
    </tr>
  </thead>
  <tbody>
    <% order.order_products.each do |order_product| %>
    <tr>
      <td></td>
      <td><%= order_product.product.product_name %></td>
      <td class="right aligned"><%= order_product.price %>円</td>
      <td class="right aligned"><%= order_product.count %>枚</td>
    </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="right aligned">
      	合計金額は<%= @price[count] %>円です<br>
      	<%= link_to "配送状況確認", order_path(order) %><br>
      	<%= link_to "購入履歴詳細へ", order_path(order) %>
      </td>
    </tr>
    <% count += 1 %>
    <% end %>
  </tbody>
</table>

<%= link_to "ユーザー基本情報編集だよ", edit_user_path %><br>
<%= link_to "メールアドレス・パスワード変更", edit_user_registration_path %>
