<h1>顧客詳細ページです</h1>

<table class="ui unstackable table">
	<% @orders.order("id DESC").each do |order| %>
  <thead>
    <tr>
      <th>購入日 （<%= order.created_at.strftime('%Y/%m/%d') %>）</th>
      <th>商品名</th>
      <th class="right aligned">値段</th>
      <th class="right aligned">枚数</th>
      <th class="right aligned">配送状況</th>s
    </tr>
  </thead>
  <tbody>
    <% order.order_products.each do |order_product| %>
	    <% @price = 0 %>
	    <% @price += order_product.count*order_product.price %>
	    <tr>
	      <td></td>
	      <td><%= order_product.product.product_name %></td>
	      <td class="right aligned"><%= order_product.price %>円</td>
	      <td class="right aligned"><%= order_product.count %>枚</td>
	      <td class="right aligned">
	      	<% if order.carry_status == 1 or order.carry_status == nil%>
	      		商品準備中
	      	<% elsif order.carry_status == 2 %>
	      		配達中
	      	<% elsif order.carry_status == 3 %>
	      		配達済み
	      	<% end %>
	      </td>
	    </tr>
	   <% end %>
	    <tr>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td class="right aligned">
	      	合計金額は<%= @price %>円です<br>
	      </td>
	    </tr>
	    <tr>
	    	<td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    	<td class="right aligned">
	      	<%= form_for(order,url: customer_path(order_id: order.id)) do |f| %>
						<%= f.select :carry_status, [["商品準備中", "1"], ["配達中", "2"], ["配達済み", "3"]] %>
    				<%= f.submit '配送状況を変更' %>
					<% end %>
	      </td>
	    </tr>
    <% end %>
  </tbody>
</table>