<h1>ここはカートのページです</h1>
<%= flash[:notice] %>
<table>
	<tr><th>商品名　</th><th>値段　</th><th>枚数　</th><th>在庫枚数</th></tr>
	<% @cart_products.each do |cart_product| %>
		<tr>
	  		<th><%= cart_product.product.product_name %></th>
	  		<th><%= cart_product.product.price %></th>
	  		<th><%= cart_product.count %>枚</th>
	  		<th><%= cart_product.product.stock %>枚</th>
	  		<th><%= link_to 'カートから削除する', destroy_cart_product_path(product_id: cart_product.id,cart_id: params[:id]), method: :delete %></th>
		</tr>
	<% end %>
</table>
<p>合計金額は<%= @price %>円です</p>
<% if @cart_products.any? %>
	<%= form_for(@order, url: purchase_path(cart_id: params[:id])) do |f| %>
			<%= f.label '送り先' %>
			<%= f.select :receiver_id, [["1","1"],["1", "1"],["1", "1"],["1","1"]] %>
			<%= f.submit '購入する' %>
	<% end %>
<% end %>
