<%= flash[:notice] %>
<div class="cart_content">
	<div class="conteiner">
		<table class="ui celled striped table">
			<thead>
				<tr><th></th><th>商品名　</th><th>値段　</th><th>枚数　</th><th>在庫枚数</th><th></th></tr>
			</thead>
			<tbody>
				<% @cart_products.each do |cart_product| %>
					<tr>
						<td><%= attachment_image_tag cart_product.product, :image, :fill, 100, 100, fallback: "noimage.png" %></td>
				  		<td><%= cart_product.product.product_name %></td>
				  		<td><%= cart_product.product.price %></td>
				  		<td><%= cart_product.count %>枚</td>
				  		<td><%= cart_product.product.stock %>枚</td>
				  		<td><%= link_to 'カートから削除する', destroy_cart_product_path(product_id: cart_product.id,cart_id: params[:id]), metdod: :delete %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<h3>合計金額は<%= @price %>円です</h3>
		<% if @cart_products.any? %>
			<%= form_for(@cart, url: cart_path(@cart)) do |f| %>
					<%= f.label '送り先を選んでください' %>
					<p><%= f.collection_select :receiver_id, Receiver.all, :id, :receiver_name %></p>
					<p><%= link_to '新しい送り先を登録する', new_receiver_path %></p>
					<%= f.submit '購入確認画面へ進む' %>
			<% end %>
		<% end %>
	</div>
</div>