<h1>ディスク新規登録</h1>

<ul class="receiver_error">
	<% @disc.errors.full_messages.each do |message| %>
    	<li><%= message %></li>
    <% end %>
</ul>
<%= form_for([@product, @disc], url: admin_product_discs_path) do |f| %>
	<p><%= f.label :disc_name, "ディスクの名前" %></p>
	<%= f.text_field :disc_name %>

	<p><%= f.label :disc_number, "何枚目のディスクか" %></p>
	<%= f.text_field :disc_number %>

	<%= f.submit "登録" %>

<% end %>