<div class="ui segment" >
<div class="nested-fields form-inline">
	<table class="form-group">
		<thead>
			<th>ディスク名</th>
			<th>何枚目</th>
			<th></th>
		</thead>
		<tbody>
			<td><%= f.text_field :disc_name %></td>
			<td><%= f.number_field :disc_number %></td>
			<td><%= link_to_remove_association "削除", f %></td>
		</tbody>
	</table>

	<div id="ingredients" class="form-group song_field">

	<!-- 	<%= f.fields_for Song.new do |song| %>
			<%= render 'song_fields', f: song %> -->

		<div id="links">
			<%= link_to_add_association "曲追加", f, :songs %>
		</div>
		<% end %>
	</div>
</div>
</div>