<h1><%=@product.product_name%>編集ページ|<%= link_to '削除',  destroy_product_product_path, method: :delete %></h1>
<ul class="receiver_error">
<% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
<% end %>
</ul>

<div class="ui form admin-product-edit-form clearfix">
	<% @product.discs.order("disc_number ASC").each do |disc| %>
		<div class="disc-box clearfix">
			<h3><%= disc.disc_number %>枚目</h3>
			<p class="disc_name"><%= disc.disc_name %>　<%= link_to '削除', admin_product_disc_path(disc_id: disc.id,product_id: @product.id), method: :delete %>|<%=link_to '編集',edit_admin_product_disc_path(product_id: @product.id,id: disc.id) %></p>
			<% disc.songs.order("song_number ASC").each do |song| %>
				<div class = "song">
					<p><%= song.song_number%>曲目：<%= song.song_name %>　<%= link_to '削除', admin_product_disc_song_path(song_id: song.id,product_id: @product.id,disc_id:disc.id), method: :delete %>|<%=link_to '編集',edit_admin_product_disc_song_path(product_id: @product.id,disc_id: disc.id,id: song.id) %></p>
				</div>
			<% end %>
			<%= link_to "曲追加", new_admin_product_disc_song_path(@product, disc) %>
		</div>
	<% end %>
	<%= form_for(@product,url: admin_product_path(@product), html: {class:"product-edit-body"}) do |f| %>
		<h4>画像</h4>
		<%= f.attachment_field :image %>
		<h4>商品名</h4>
		<%= f.text_field :product_name %>
		<h4>価格</h4>
		<%= f.text_field :price %>
		<h4>在庫数</h4>
		<%= f.text_field :stock %>
		<h4>歌手</h4>
		<p><%= f.collection_select :artist_id, Artist.all, :id, :artist_name %></p>

		<h4>レーベル</h4>
		<p><%= f.collection_select :genre_id, Genre.all, :id, :genre_name %></p>

		<h4>ジャンル</h4>
		<p><%= f.collection_select :label_id, Label.all, :id, :label_name %></p>
		<%= f.submit '商品を編集する', class:"ui positive button" %>
	<% end %>
</div>