<div class="admin_products">
	<div class="products_body">
		<%= render 'products/side' %>
		<h1 class="page_title">商品一覧</h1>
		<div class = "products_content clearfix">
		<div class="products_content_box">
			<% @products.order("id DESC").each do |product| %>
			<%= link_to  admin_product_path(product), class: '' do %>

			<div class="card_box clearfix">
			<div class="ui link cards" >
			  <div class="card">
			    <div class="image">
			      <%= attachment_image_tag product, :image, :fill, 100, 100, fallback: "noimage.png"%>
			    </div>
			    <div class="content">
			      <div class="header">商品名：<%= product.product_name %></div>
			      <div class="meta">
			        <a>価格：<%= product.price %>円</a>
			      </div>
			      <div class="description">
			        <p>歌手名：<%= product.artist.artist_name %></p>
			  		<p>ジャンル：<%= product.genre.genre_name %></p>
			  		<p>レーベル：<%= product.label.label_name %></p>
			      </div>
				</div>
			    <div class="extra content">
			      <span class="right floated">
			        <p></p>
			      </span>
			      <span>
			        <p>在庫数：　<%= product.stock %>
			    	  <% if product.stock <= 0 %>(売り切れ)<% end %>
			  		</p>
			      </span>
			    </div>
			  </div>
			</div>
			</div>

			<% end %>
			<% end %>
		</div>
		</div>
		<%= paginate @products, class: "pagenate" %>
	</div>
</div>