<h1>管理者側からの商品一覧です</h1>
<h2><%= link_to "商品追加", new_admin_product_path %></h2>

<p>=======================</p>
<% @products.each do |product| %>
	<%= attachment_image_tag product, :image, :fill, 100, 100, format: 'jpeg' %>

	<p>商品名</p>
	<p><%= product.product_name %></p>

	<p>アーティスト名</p>
	<p><%= product.artist.artist_name %></p>

	<p>年代</p>
	<p><%= product.genre.genre_name %></p>

	<p>レーベル</p>
	<p><%= product.label.label_name %></p>

	<p>価格</p>
	<p><%= product.price %></p>

	<p>在庫</p>
	<p><%= product.stock %></p>

	<p><%= link_to "詳細", admin_product_path(product) %></p>

	<p>=======================</p>

<% end %>