<%= form_for(@product, url: admin_products_path) do |f| %>

	<p><%= f.label :image, "ジャケット画像" %></p>
	<%= f.attachment_field :image %>

	<p><%= f.label :product_name, "商品名" %></p>
	<p><%= f.text_field :product_name %></p>

	<p><%= f.label :artist_name, "アーティスト" %></p>
	<p><%= f.collection_select :artist_id, Artist.all, :id, :artist_name %></p>

	<p><%= f.label :genre_name, "年代" %></p>
	<p><%= f.collection_select :genre_id, Genre.all, :id, :genre_name %></p>

	<p><%= f.label :label_name, "レーベル" %></p>
	<p><%= f.collection_select :label_id, Label.all, :id, :label_name %></p>

	<p><%= f.label :price, "価格" %></p>
	<p><%= f.text_field :price %></p>

	<p><%= f.label :stock, "在庫" %></p>
	<p><%= f.text_field :stock %></p>

	<div id="ingredients" class="form-group">

		<%= f.fields_for :discs do |d| %>

			<%= render 'disc_fields', f: d %>

		<div id="links">
			<%= link_to_add_association "ディスク追加", f, :discs %>
		</div>
		<% end %>
	</div>

	<div class="actions">
    	<%= f.submit %>
 	</div>
<% end %>

<%= link_to "商品一覧に戻る", admin_products_path %>