<h1>商品新規登録</h1>

<%= @artists = @artists %>
<%= form_for(@product, url: admin_products_path) do |f| %>

	<p><%= f.label :image, "ジャケット画像" %></p>
	<%= f.attachment_field :image %>

	<p><%= f.label :product_name, "商品名" %></p>
	<%= f.text_field :product_name %>

	<p><%= f.label :price, "価格" %></p>
	<%= f.text_field :price %>

	<p><%= f.label :stock, "在庫" %></p>
	<%= f.text_field :stock %>

	<%= f.select :artist_name, @artists.map{|t| [t.artist_name]} %>

	<%= f.submit "登録" %>

<% end %>

<%= link_to "商品一覧に戻る", admin_products_path %>
