<%= render 'products/side' %>
<div class="body">
	<h1>これは商品一覧ページです</h1>
	<div class = "content clearfix">
		<% @products.each do |product| %>
			<div class = "product">
				<p>
					<%= attachment_image_tag product, :image, :fill, 100, 100, fallback: "th.jpg"%>
				</p>
		  		<p>商品名：　<%= product.product_name %></p>
		  		<p>価格：　<%= product.price %></p>

		  			<% if product.stock <= 0 %>(売り切れ)<% end %>
		  		</p>
		  		<p><%= link_to "詳細をみる", product_path(product) %></p>
			</div>
		<% end %>
	</div>
</div>

