<h1>ここは商品の詳細ページです</h1>
<p id="notice"><%= notice %></p>
<table>
	<tr><th><%= attachment_image_tag @product, :image, :fill, 100, 100 %></th></tr>
	<tr><th>商品名:</th><th><%= @product.product_name %></th></tr>
	<tr><th>値段:</th><th><%= @product.price %></th></tr>
	<tr><th>在庫枚数:</th><th><%= @product.stock %></th></tr>
	<tr><th>ディスク:</th></tr>
		<% @product.discs.each do |disc| %>
		<tr>
			<th><%= disc.disc_number %></th>
			<th><%= disc.disc_name %></th>
			<% disc.songs.each do |song| %>
				<tr>
					<th><%= song.song_number%></th>
					<th><%= song.song_name %></th>
				<tr>
			<% end %>
		</tr>
		<% end %>
</table>

<% if  user_signed_in? %>
	<%= form_for(@cart_product, url: cart_product_path(product_id: @product.id)) do |f| %>
		<%= f.label '枚数' %>
		<%= f.number_field :count,min:1,max:10000,step:1 %> <br>
		<%= f.submit 'カートに入れる' %>
	<% end %>
<% end %>

