<h1>ここは商品の詳細ページです</h1>

<table>
	<tr><th>商品名:</th><th><%= @product.product_name %></th></tr>
	<tr><th>値段:</th><th><%= @product.price %></th></tr>
	<tr><th>在庫枚数:</th><th><%= @product.stock %></th></tr>
	<tr><th>ディスク:</th></tr>
		<% @product.discs.each do |disc| %>
		<tr>
			<th><%= disc.disc_number %></th>
			<th><%= disc.disc_name %></th>
		</tr>
		<% end %>
</table>
<p><%= link_to 'カートに入れる', cart_product_path(product_id: @product.id), method: :post %></p>
