<p id="notice"><%= notice %></p>
<p><%= attachment_image_tag @product, :image, :fill, 30, 30, fallback: "noimage.png" %></p>
<div class = "">
	<table class = "ui celled striped table product_show">
		<tbody>
			<tr><td class="column">商品名:</td><td><%= @product.product_name %></td></tr>
			<tr><td class="column">値段:</td><td><%= @product.price %>円</td></tr>
			<tr><td class="column">ジャンル:</td><td><%= @product.genre.genre_name %></td></tr>
			<tr><td class="column">歌手:</td><td><%= @product.artist.artist_name %></td></tr>
			<tr><td class="column">レーベル:</td><td><%= @product.label.label_name %></td></tr>
			<tr><td class="column">在庫枚数:</td><td><%= @product.stock %></td></tr>
		</tbody>
	</table>
</div>

<h3>曲情報</h3>
<div class="product_content clearfix">
	<% @product.discs.order("disc_number ASC").each do |disc| %>
		<div class="disc">
			<p class="disc_name"><%= disc.disc_name %></p>
			<% disc.songs.order("song_number ASC").each do |song| %>
				<div class = "song">
					<p><%= song.song_number%>　<%= song.song_name %></p>
				</div>
			<% end %>
		</div>
	<% end %>
</div>


<% if  user_signed_in? %>
	<%= form_for(@cart_product, url: cart_product_path(product_id: @product.id)) do |f| %>
		<h3><%= f.label '購入希望枚数' %></h3>
		<p><%= f.number_field :count,min:1,max:10000,step:1 %> <br></p>
		<h3><%= f.submit 'カートに入れる' %></h3>
	<% end %>
<% end %>

