<!DOCTYPE html>
<html>
  <head>
    <title>Eenka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul class="clearfix">
          <% if user_signed_in? %>
            <P>Userとしてログインしています</P>
            <li class = "">マイページへ</li>
            <li class = ""><%= link_to ' 商品一覧へ' ,products_path %></li>
            <li class = ""><%= link_to ' ログアウトする', destroy_user_session_path, method: :delete %></li>
            <li class = ""><%= link_to ' トップページへ' ,top_path %></li>
            <li class = ""><%= link_to 'カートへ' ,cart_path(current_user.cart) %></li>
            <li class = ""><%= link_to '購入履歴へ' ,user_path(current_user) %></li>
          <% elsif admin_signed_in? %>
            <P>管理者としてログインしています</P>
            <li class = ""><%= link_to ' ログアウトする', destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <p>ログインしていません</p>
            <li class = ""><%= link_to ' トップページへ' ,top_path %></li>
            <li class = ""><%= link_to ' 新規会員登録' ,new_user_registration_path %></li>
            <li class = ""><%= link_to ' ログイン', new_user_session_path %></li>
             <li class = ""><%= link_to ' 商品一覧へ' ,products_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
